{% extends 'base.html' %}
{% load static %}
  {% block content %}

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function posting(e) {
          e.preventDefault()
          const title = $("#title").val()
          const price = $("#price").val()
          const description = $("#description").val()
          const contact = $("#contact").val()
          
          const data = {
            title: title,
            price: price,
            description: description,
            contact: contact,
            csrfmiddlewaretoken: "{{ csrf_token }}"
          }
          
          $.ajax({
            type: 'POST',
            url: '{% url "supplies:add_product" %}',
            data: data,
            dataType: 'json'
          });

          fetchData();
        }
      
        function update(data) {
          const myElement = $("#main-div")
          myElement.html('');
          for (let i = 0; i < data.length; i++) {
            let message = (data[i].fields.is_finished) ? 'Your favorite':'Add to Favorite?';
            let color = (data[i].fields.is_finished) ? 'white':'black';
            myElement.append(`
                <div class="card col-sm-4 mb-1 mt-4 mx-auto" style="width: 18rem;">
                  <div class="card-body">
                    <h4 class="card-title text-light text-center fw-semibold">${data[i].fields.title}</h4>
                    <hr>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Rp ${data[i].fields.price}</li>
                      <li class="list-group-item">${data[i].fields.description}</li>
                    </ul>
                    <hr>
                    <li class="list-group-item">Contact us on : </li>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">${data[i].fields.contact} </li>
                    </ul>
                  </div>
                  <div class="card-footer text-center">
                    <p style="font-weight:bold; color:${color};">${message}</p>
                    <button type="button" class="btn btn-dark" style="float:left;"><a class="text-light" href="ubah-status/${data[i].pk}" style="text-decoration:solid ">Add Favorite</a></button>
                    <button type="button" class="btn btn-dark" style="float:right;"><a class="text-light" href=" hapus-task/${data[i].pk}" style="text-decoration:solid ">Delete Task</a></button>
                  </div>
                </div>
            `)
          }
        }
      
        function fetchData() {
          $.get("/supplies/json", update)
        }
      
        $(document).ready(() => {
          $("#create-button").click(posting)
          fetchData()
        })
    </script>

<!-- CSS STYLE -->
    <style>  
      .card {
          box-shadow: 0 4px 8px 0 rgba(88, 131, 177, 0.2);
          transition: 0.4s;
          width: 40%;    
          border-radius: 5px;
          background-color: rgb(var(--orange));
      }
        
      .card:hover {
      border-radius: 40px;
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(23, 21, 23, 0), 0 4px 8px rgba(27, 21, 28, 0.06); 
      background-color: rgb(240, 136, 92); 
      color: white;  
      }
      .container {
      padding: 90px 86px;
      }
  
      .content {
      padding-left: 95px;
      padding-right: 15px;
      }

      input, textarea {
        padding: 0.5rem;
        border: 1px solid;
        border-radius: 8px;
        width: 100%
      }
      #main-div{
        background: url("{% static 'images/supplies/bgsupplies.png' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
      }

    </style>
  </head>
  
<!-- Spacing after Navbar -->
  <h1 style="margin-top:7px; padding-top: 90px; padding-bottom:15px ;font-size: 40px;" class="font-monospace fw-semibold text-center"></h1>

<!-- Navigation Bar -->
  <header>
    <nav class="navbar navbar-expand-lg bg-white bg-gradient fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand ms-4"><img src="{% static 'images/supplies/doghouse.png' %}" style ="width: 129px" ></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item" style="margin: 5px;">
              <a class="btn btn-dark" data-bs-toggle="modal" href="#addProduct" role="button">Add Product</a>
            </li>
            <li class="nav-item" style="margin: 5px;">
              <a class="btn btn-dark" href="{% url 'home:index' %}" role="button">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
<!-- Modal in navigation bar -->
  <div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProductLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Product</h1>
        </div>
        <div class="modal-body">
          <form method="POST" action="" style="display: inline-block;">
            {% csrf_token %}
            <table>
                <tr>
                  <label>Title</label>
                  <input type="text" name="title" id="title">
                </tr>
                <tr>
                  <label>Price (ex: 100000)</label>
                  <input type="textarea" name="price" id="price">
                </tr>
                <tr>
                  <label>Description</label>
                  <input type="textarea" name="description" id="description">
                </tr>
                <tr>
                  <label>Contact (ex: 085156571359)</label>
                  <input type="textarea" name="contact" id="contact">
                </tr>
                    <td colspan="2">
                      <input data-bs-dismiss="modal" style="width: 100%; margin-top: 20px; margin-bottom: 7px;" class="btn btn btn-dark" type="submit" name="submit" value="Create" id="create-button">
                    </td>
                </tr>
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Product Content that have been added by user -->
  <div class="row row-cols-1 row-cols-md-3 g-4  gap-4 vh-200" id="main-div"></div>

 {% endblock content %}