
<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">    
  	<link rel="stylesheet" type="text/css" href="{% static 'css/supplies/main.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	  <script>
        function posting(e) {
          e.preventDefault()
          const title = $("#title").val()
          const price = $("#price").val()
		  const contact = $("#contact").val()

          const data = {
            title: title,
            price: price,
			contact: contact,
            csrfmiddlewaretoken: "{{ csrf_token }}"
          }
          console.log(data)
          $.ajax({
            type: 'POST',
			url: "/supplies/add-product/",
            data: data,
            dataType: 'json'
          });

          fetchData();
        }
      
        function update(data) {
          const myElement = $("#main-div")
          myElement.html('');
          for (let i = 0; i < data.length; i++) {
             myElement.append(`
              <div class="card col-sm-4 mb-1 mt-4 mx-auto" style="width: 18rem;">
                <div class="card-body">
                  <h4 class="card-title text-light text-center fw-semibold">${data[i].fields.title}</h4>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">${data[i].fields.price}</li>
					<li class="list-group-item">${data[i].fields.contact}</li>
                  </ul>
                </div>
              </div>
            `)
          }
        }
      
        function fetchData() {
          $.get("/supplies/json", update)
        }
      
        $(document).ready(() => {
          $("#create-button").click(posting)
          fetchData()
        })
    </script>

  </head>
  <!-- spacing after navbar -->
  <h1 style="margin-top:7px; padding-top: 60px; padding-bottom:0px ;font-size: 40px;" class="font-monospace fw-semibold text-center"></h1>

  <!-- Navigation Bar -->
  <header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand">  SUPPLIES </a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item active" style="margin: 5px; ">
						<a class="nav-link" href="#LINK-MENUJU-LANDING-PAGE!!"> Home <span class="sr-only"></span></a>
					</li> 


					<li class="nav-item" style="margin: 5px;">
						<a class="btn btn-dark" data-bs-toggle="modal" href="#addTask" role="button">Sell Product</a>
					</li>	

					<li class="nav-item" style="margin: 5px;">
						<a class="btn btn-dark" href="#LINK-MENUJU-LANDING-PAGE!!" role="button">Logout</a>
					</li>			
				</ul>
			</div>	
		</div>
	</nav>
  </header>


  <div class="row row-cols-1 row-cols-md-3 g-4 md:justify-end gap-4" id="main-div"></div>

<!-- Membuat tampilan modal ketika klik button sell product -->
  <div class="modal fade" id="addTask" tabindex="-1" aria-labelledby="addTaskLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Sell Product</h1>
        </div>
        <div class="modal-body">
          <form method="POST" action="" style="display: inline-block;">
            {% csrf_token %}
            <table>
                <tr>
                  <label>Name of product</label>
                  <input type="text" name="title" id="title">
                </tr>
                <tr>
                  <label>Price</label>
                  <input type="textarea" name="price" id="price">
                </tr>
				<tr>
					<label>Contact</label>
					<input type="textarea" name="contact" id="contact">
				  </tr>
				  
                    <td colspan="2">
                      <input data-bs-dismiss="modal" style="width: 100%; margin-top: 20px; margin-bottom: 7px;" class="btn btn btn-dark" type="submit" name="submit" value="Create" id="create-button">
                    </td>
                </tr>
            </table>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


<!-- membuat isi halaman supplies ada product apa saja  TP INI SECARA DEFAULT-->
kalo user mau sell product bakal muncul juga cardnya tp bukan yg ini
  <body>  
	  <div class="container">
		<br>
		{% block content %}
			<div class="row">
				<!-- looping product, so that user can sell their product and it will be uploaded on the supplies page -->
				{% for product in data_product %}
				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>{{product.title}}</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">View</a>
						<h4 style="display: inline-block; float: right">Rp{{product.name|floatformat:2}}</h4>
					</div> 
				</div>
				{% endfor %} 

				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>Product</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">Buy</a>
						<h4 style="display: inline-block; float: right">Rp50.000</h4>
					</div> 
				</div>

				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>Product</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">Buy</a>
						<h4 style="display: inline-block; float: right">Rp50.000</h4>
					</div> 
				</div>

				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>Product</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">Buy</a>
						<h4 style="display: inline-block; float: right">Rp50.000</h4>
					</div> 
				</div>
				
				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>Product</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">Buy</a>
						<h4 style="display: inline-block; float: right">Rp50.000</h4>
					</div> 
				</div>

				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>Product</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">Buy</a>
						<h4 style="display: inline-block; float: right">Rp50.000</h4>
					</div> 
				</div>

				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>Product</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">Buy</a>
						<h4 style="display: inline-block; float: right">Rp50.000</h4>
					</div> 
				</div>

				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>Product</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">Buy</a>
						<h4 style="display: inline-block; float: right">Rp50.000</h4>
					</div> 
				</div>

				<div class="col-lg-4">
					<img class="thumbnail" src="{% static 'images/supplies/placeholder.png' %}">
					<div class="box-element product">
						<h6><strong>Product</strong></h6>
						<hr>
						<button class="btn btn-outline-secondary add-btn">Add to Favorite</button>
						<a class="btn btn-outline-success" href="#">View</a>
						<h4 style="display: inline-block; float: right">Rp50.000</h4>
					</div> 
				</div>
			</div>		
		{% endblock content %}
	  </div> 

  	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
	<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<!-- <script type="text/javascript" src="{% static 'js/cart.js' %}"></script> -->
  </body>
</html>
