{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid mt-2">
        <a class="navbar-brand ms-4" href="{% url 'home:index' %}">
            <img src="{% static 'images/title.svg' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav w-100 mb-2 mb-lg-0" style="font-size: 1.1rem; font-weight: 700">
                <li class="nav-item ms-auto me-4">
                    <a class="nav-link -hvr" aria-current="page" href="">DOG MARKETPLACE</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link -hvr" aria-current="page" href="{% url 'supplies:show_supplies' %}">SUPPLIES</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link -hvr" aria-current="page" href="">ARTICLES</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link -hvr" aria-current="page" href="">FORUM</a>
                </li>
                <div class="vr mx-4" style="width: 3px"></div>
                {% if not user.is_authenticated %}
                <li class="nav-item me-4">
                    <a class="nav-link -hvr" aria-current="page" href="{% url 'authentication:login' %}">LOGIN</a>
                </li>
                <li class="nav-item me-4">
                    <a class="nav-link -hvr" aria-current="page" href="{% url 'authentication:register' %}">SIGN UP</a>
                </li>
                {% else %}
                <li class="nav-item me-4">
                    <span class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle me-4 d-flex align-items-center href=" #" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span>{{ user.username }}</span>
                        </a>
                        <ul class="dropdown-menu me-5">
                            <li><a class="dropdown-item " href="{% url 'authentication:logout' %}">Logout</a></li>
                        </ul>
                    </span>
                </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<style>
    .dropdown-menu {
        left: -40px !important;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        padding: 8px 0px;
    }

    .-hvr {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

    .-hvr:hover::before {
        cursor: pointer;
        transform: scaleX(1);
        transform-origin: left;
        transition: transform .3s ease-in-out;
    }

    .-hvr::before {
        width: 100%;
        height: 2px;
        background-color: rgba(0, 0, 0, .7);
        position: absolute;
        content: "";
        bottom: 4px;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
        transform-origin: right;
    }

    @media (max-width: 990px) {
        .navbar-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        ul li:first-child {
            margin: 0 !important;
        }

        li.me-5,
        li.me-auto {
            margin: 5px 0 !important;
        }
        .vr {
            display: none;
        }
    }
</style>

<script>
    $('.navbar-toggler').click(function() {
        let isExpanded = $(this).attr('aria-expanded')
        if ($(window).innerWidth() <= 990) {
            if (isExpanded === "true") {
                $('.navbar').css('background-color', 'rgba(255, 255, 255, .9)')
            }
            else {
                $('.navbar').css('background-color', 'transparent')
            }
        }
    })
    const func = screen => {
        if (!screen.matches) {
            $('.navbar').css('background-color', 'transparent')
            let isExpanded = $('.navbar-toggler').attr('aria-expanded')
            if (isExpanded === "true") {
                $('.navbar-toggler').click()
                $('.navbar').css('background-color', 'transparent')
            }
        }
    }
    let screen = window.matchMedia('(max-width: 990px)')
    func(screen)
    screen.addListener(func)
</script>