{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Create New Listing</title>
{% endblock meta %}

{% block content %}
<header>
    {% include 'partials/navbar.html' %}
</header>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div style="padding:100px;">
  <form action="" method="POST">
    {% csrf_token %}
    <div class="form-group row">
      <label for="item_title" class="col-4 col-form-label">Judul Anjing</label> 
      <div class="col-8">
        <input id="item_title" name="item_title" type="text" aria-describedby="item_titleHelpBlock" required="required" class="form-control"> 
        <span id="item_titleHelpBlock" class="form-text text-muted">Gunakan judul yang deskriptif</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="description" class="col-4 col-form-label">Deskripsi</label> 
      <div class="col-8">
        <textarea id="description" name="description" cols="40" rows="3" aria-describedby="descriptionHelpBlock" required="required" class="form-control"></textarea> 
        <span id="descriptionHelpBlock" class="form-text text-muted">Berikan deskripsi singkat mengenai anjing yang akan Anda jual</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="breed" class="col-4 col-form-label">Ras (Breed)</label> 
      <div class="col-8">
        <select id="breed" name="breed" required="required" class="custom-select">
          <option value="husky">Husky</option>
          <option value="bulldog">Bulldog</option>
          <option value="gsd">German Shepherd</option>
          <option value="poodle">Poodle</option>
          <option value="shihtzu">Shih Tzu</option>
          <option value="pom">Pomeranian</option>
          <option value="chihuahua">Chihuahua</option>
          <option value="chow">Chow Chow</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="price" class="col-4 col-form-label">Harga</label> 
      <div class="col-8">
        <input id="price" name="price" type="text" class="form-control">
      </div>
    </div>

    <div class="form-group row">
      <label for="image" class="col-4 col-form-label">Image (Preferably Cute)</label> 
      <div class="col-8">
        <input type="file" id="image" name="image">
      </div>
    </div> 

    <div class="form-group row">
      <div class="offset-4 col-8">
        <button name="submit" type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>

  <p>Form not working for you? <a href="/dog_market/submit_item">Try here</a></p>

</div>

</body>
{% endblock content %}